# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.conda/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
